.mainsub {
  font-weight: bold;


  &>.section {
    height: 606px;
    background-color: #edfff8;
    position: relative;

    &>.wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding-top: 162.4px;

      &>.title {
        line-height: 50px;
        text-align: center;
        font-size: 60px;
        color: #434343;
        font-family: 'ygo';

        &>span {
          font-size: 30px;
        }
      }

      &>.box {
        cursor: pointer;
        margin-top: 33px;
        margin-bottom: 5px;
        display: flex;
        border-radius: 57px;
        align-items: center;
        justify-content: space-between;
        width: 257px;
        height: 58px;
        background-color: #47d99b;
        box-sizing: border-box;
        padding: 0 21px 0 27px;

        &>img {
          width: 38.9px;
        }

        &>.text {
          font-size: 18px;
          color: #434343;

          &>a {
            color: #434343;
          }
        }
      }

      &>.back-img {
        position: absolute;
        bottom: -80px;

        &>.main-mb {
          display: none;
        }

      }
    }
  }

  &>.section1 {
    height: 774px;

    &>.wrapper {
      &>.title {
        text-align: center;
        font-size: 35px;
        padding-top: 173px;
        color: #434343;
        font-family: "ygo";

      }

      &>.box {
        display: grid;
        grid-template-columns: repeat(3, 320px);
        column-gap: 15px;
        margin-top: 42px;

        &>.boxlist {
          width: 100%;
          height: 388px;
          background-color: #f5f6f8;
          padding-top: 33px;
          padding-left: 30px;
          border-radius: 20px;
          box-sizing: border-box;

          &>.title {
            font-size: 24px;
            margin-bottom: 12px;


          }

          &>.sub {
            font-size: 16px;
            font-weight: 100;
            margin-bottom: 59px;
          }

          &>.img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 144px;
            height: 144px;
            background-color: white;
            border-radius: 100%;
            margin-left: 121px;
          }

        }

        &>.first,
        .second {
          &>.img {
            justify-content: flex-end;
            box-sizing: border-box;
            padding-right: 28px;
          }
        }
      }
    }
  }

  &>.section2 {
    height: 281px;
    background-color: #47d99b;

    &>.wrapper {
      &>.wrapper2 {
        height: 100%;
        display: flex;

        &>.left {
          margin-right: 200px;

          &>.title {
            font-size: 30px;
            padding-top: 68px;
            margin-bottom: 29px;
            line-height: 1.5;
            font-family: 'ygo';

          }

          &>.title_tb {
            font-size: 35px;
            padding-top: 74px;
            margin-bottom: 24px;
            text-align: center;
            display: none;
            font-family: 'ygo';
            line-height: 1.43;

          }

          &>.box {
            display: flex;
            border-radius: 57px;
            align-items: center;
            justify-content: space-between;
            width: 257px;
            height: 58px;
            background-color: white;
            cursor: pointer;
            padding: 0 19.7px 0 25px;
            box-sizing: border-box;


            &>img {
              width: 36.3px;
            }

            &>.text {
              font-size: 18px;
              color: #434343;

              &>a {
                color: #434343;
              }
            }
          }
        }

        &>.right {
          display: flex;
          align-items: flex-end;
          height: 100%;

        }
      }
    }
  }

  &>.section3 {
    height: 100%;
    padding-bottom: 147px;

    &>.wrapper {
      &>.title {
        text-align: center;
        font-size: 35px;
        padding-top: 129px;
        margin-bottom: 39px;
        font-family: 'ygo';

        &>br {
          display: none;
        }

      }

      &>.fold-wrapper {
        display: grid;
        row-gap: 15px;

        &>.fold {
          transition: 0.2s ease-in-out;
          width: 100%;
          height: 91px;
          border-radius: 20px;
          background-color: #f5f6f8;
          overflow: hidden;
          box-sizing: border-box;
          padding: 0 26px 0 33px;

          &>.box-title {
            height: 91px;
            display: flex;
            justify-content: space-between;

            &>.left {
              height: 100%;
              display: flex;
              align-items: center;
              font-size: 18px;
              font-weight: bold;
              column-gap: 11px;

              &>span {
                font-size: 23px;
                color: #00be83;
              }
            }

            &>img {
              cursor: pointer;
              width: 31px;
            }
          }

          &>.content {
            font-size: 16px;
            line-height: 1.88;
            color: #434343;
            font-weight: normal;
          }
        }

        &>.open {
          height: 271px;

          &>.box-title {
            &>img {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 1365px) {
  .mainsub {
    &>.section1 {
      height: 1597px;

      &>.wrapper {

        &>.box {
          grid-template-columns: 320px;
          justify-content: center;
          row-gap: 24px;

        }
      }
    }

    &>.section2 {
      height: 624px;

      &>.wrapper {
        &>.wrapper2 {
          flex-direction: column;
          align-items: center;

          &>.left {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: unset;

            &>.title {
              display: none;

            }

            &>.title_tb {
              display: block;
            }
          }

          &>.right {
            width: 366.7px;
          }
        }
      }
    }

    &>.section3 {
      padding-bottom: 184px;

      &>.wrapper {
        &>.title {
          line-height: 1.43;
          margin-bottom: 59px;

          &>br {
            display: block;
          }
        }

        &>.fold-wrapper {
          &>.fold {
            &>.content {
              font-size: 15px;
              line-height: 1.71;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .mainsub {
    &>.section {
      height: 510px;

      &>.wrapper {
        padding-top: 140.4px;

        &>.title {
          font-size: 34px;
          line-height: 1.1;

          &>span {
            font-size: 23px;

          }
        }

        &>.box {
          margin-top: 32px;
          margin-bottom: 0;
          width: 230px;
          height: 50px;

          &>img {
            width: 34.8px;
          }

          &>.text {
            font-size: 16px;
          }
        }

        &>.back-img {
          width: 307px;
          bottom: -80px;

          &>.pc {
            display: none;
          }

          &>.main-mb {
            display: block;
          }
        }
      }

    }

    &>.section1 {
      height: 1693px;

      &>.wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        &>.title {
          padding-top: 235px;
          width: 204px;
          font-size: 28px;
          line-height: 1.5;
        }

        &>.box {
          margin-top: 37px;
          row-gap: 24px;
        }
      }
    }

    &>.section2 {
      height: 559px;

      &>.wrapper {
        &>.wrapper2 {
          &>.left {
            &>.title_tb {
              font-size: 28px;
              line-height: 1.5;
              margin-bottom: 23px;
            }

            &>.box {
              width: 230px;
              height: 50px;

              &>img {
                width: 34.8px;
              }

              &>.text {
                font-size: 16px;
              }
            }
          }

          &>.right {
            width: 318px;
          }
        }
      }
    }

    &>.section3 {
      padding-bottom: 140px;

      &>.wrapper {
        &>.title {
          font-size: 28px;
          line-height: 1.5;
          padding-top: 165px;
          margin-bottom: 40px;
        }

        &>.fold-wrapper {
          &>.fold {
            padding: 0 17px 0 21px;

            &>.box-title {
              align-items: center;

              &>.left {
                height: fit-content;
                flex-direction: column;
                font-size: 14px;
                align-items: flex-start;
                row-gap: 7px;
                column-gap: unset;

                &>span {
                  font-size: 18px;

                }
              }

              &>img {
                width: 21px;
              }
            }

            &>.content {
              font-size: 14px;
            }
          }

          &>.open {
            height: 455px;
          }
        }
      }
    }
  }
}